
  .container {
    height: 100vh;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em;

 }

 .text-cont{
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  padding: 4em;
  gap: 2em;
 }
 .text-cont  h2{
  font-size: 2em;}

.button-box {
  display: flex;
  justify-content: center;
}
.button-box > button{
  font-size: 1em;}