.form {
  background-color: white;
  border-radius: 0.3rem;
  padding: 7.5rem;
  height: 85%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-2 {
  color: black;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-we {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-we-fields {
  margin-bottom: 2rem;
}

.form-we-company-field {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.form-we-description-field {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.form-we-label {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-right: 5rem;
}

.form-we-input {
}

.form-we-input-textarea {
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(190, 190, 190);
  font-size: 1.8rem;
  resize: none;
}

.form-we-dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
}

.form-we-date-field {
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.form-we-date-finish {
}

.form-we-input-date {
}

.submit-button {
  font-size: 2rem;
  height: 3.5rem;
  width: 10rem;
}
