  .container {
    background-color: var(--primary-background);
    color: var(--primary-text);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .hero>h1{
    font-size: 4rem;
  }
  .hero> h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .hero> Button{
    transform: scale(1.2)
  }

