.listItemImage {
    height: 100px;

}

.iconButtons {
    display: flex;
    justify-self: right;
}

.text {
    color: gray;
}

.deleteButton {
    width: 3rem;
    background-color: transparent;
    border: none;
    justify-self: right;
}

.editButton {
    width: 3rem;
    background-color: transparent;
    border: none;
    justify-self: right;
}