.listItemImage {
    height: 100%;
    width: 100%;
}

.text {
    color: gray;
}

.deleteButton {
    width: 3rem;
    background-color: transparent;
    border: none;
    justify-self: right;
}

.editButton {
    width: 3rem;
    background-color: transparent;
    border: none;
    justify-self: right;
}