
  .container {
    overflow-y: hidden;
    padding: 2em;
    height: 80vh;

  }
  .messages-container{
      height: 90%;
      overflow-y: scroll;
  }
  .input {
    display: flex;
    align-items: center;
    font-size: 2em;

  }

  .input input{
    font-size: 2em;
  }
  @media only screen and (max-width: 600px) {
    .input input{
      font-size: 1.4em;
    }
    .input  button {
      font-size:1.9em;
    }

    }