.container {
  background-color: var(--primary-background-app);
  color: var(--primary-text-app);
  height: 100vh;
  padding: 2em;

}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  height: 85%;
  font-size: 1.3em;
}

p {
  font-size: 1.5vw;
}
