.container {
  bottom: 0;
<<<<<<< HEAD
  position: relative;
=======
  position:relative;
>>>>>>> 7c17c31 (feat(css/landing page): made landing page responsive and modified font sizes)
  width: 100%;
  background-color: var(--primary-background);
  color: var(--primary-text);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;

}

.links {
  display: flex;
  gap: 2em;
  color: var(--primary);
  font-size: 1.3em;


}
<<<<<<< HEAD

.links>a {
  transform: scale(1.5);
=======
.links  > a{
  color: var(--primary);
  font-size: 1.5em;
>>>>>>> 7c17c31 (feat(css/landing page): made landing page responsive and modified font sizes)
  color: var(--primary);
}


.view-mode {
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: var(--primary-background);
  color: var(--primary-text);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  padding: 2em;

}

.contact-me {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
}

.infos {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.links-vertical {
  display: flex;
  gap: 2em;
<<<<<<< HEAD
  flex-direction: column;
=======
flex-direction: column;

}
.links-vertical a{
  color: var(--primary);
  font-size: 1.5em;
<<<<<<< HEAD
>>>>>>> 7c17c31 (feat(css/landing page): made landing page responsive and modified font sizes)
}
=======
}
.email-me {
  color: #FFFFFF;
  text-decoration: none;
}
>>>>>>> a3106ed (feat(component/contactform): added modal Contact-Form)
