.body{
  color: var(--primary-text);
  background-color:var(--primary-background);
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.5em;

}
.MuiTypography-root {
  margin: 0;
  font-family: var(--font);
}
