@import-normalize;
/**
* Add the correct display in IE 9-.
*/

html {
  font-size: 62.5%;
}

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

audio,
video {
  display: inline-block;
}

/**
* Remove the border on images inside links in IE 10-.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  height: 100vh;
}
body {
  min-height: 100vh;
}
img {
  border-style: none;
}

:root {
  --primary-background: #1f2125;
  --secondary-background: #1e1f23;
  --primary-text: #ffffff;
  --secondary: 'yellow'
  --primary: #39CBD7;
  --font: "Roboto","Helvetica","Arial",sans-serif;

  --primary-background-app: #1f2125;
  --secondary-background-app: #1e1f23;
  --primary-text-app: #ffffff;
   --secondary-app: 'yellow'
  --primary-app: #39CBD7;
  --font: "Roboto","Helvetica","Arial",sans-serif;

}
