.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-size: cover;
  height: 100%;

}
.hero-text{
  padding: 2em;
  width: 50%;
}
.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}
img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

}
