
  .box {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
  }
  .box  > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    max-width: 100%;

  }
  .tilt {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background: var(--primary-background)

  }
  @media only screen and (max-width: 600px) {
   .box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
  }
  }
