.work-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  padding: 1em;
  background-color: var(--primary-background);
}

@media only screen and (max-width: 600px) {
  .work-container{
    max-width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background);
  }

.box {
  width: 75px;
  height: 75px;
}

}
