.form-container {
  background-color: var(--primary-background);
  color: white;
  justify-content: center;
  align-items: flex-start;
}

.forms {
  justify-content: center;
  align-items: flex-start;
  padding: 10rem 15rem;
}

.preview {
  padding: 20px;
  text-align: right;
}
