.form-container {
  background-color: var(--primary-background);
  color: white;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
}

.preview {
  padding: 20px;
  text-align: right;
}