.font-theme-form {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1rem;
  padding: 3.5rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 90%;
  margin: 0rem auto;
}

.font-input {
  background-color: transparent;
  border: none;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 3.2rem;
}

.font-input:focus {
  outline: none;
}

@media only screen and (max-width: 900px) {
  .font-theme-form {
    padding: 1.5rem;
  }

  .font-input {
    width: 100%;
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .font-input {
    font-size: 1.8rem;
  }
}
