.dashboardNavigation {
  background-color: var(--secondary-background-app);
}

.dashboardNavigation-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashBoardNavigation-logo {
}

.dashboardNavigation-heading {
  font-size: 3rem;
  color: var(--primary-text-app);
  font-family: Arial, Helvetica, sans-serif;
}
