.dashboardNavigation-list {
}

.dashboardNavigation-item {
  transition: all 0.4s;
}
.dashboardNavigation-item:hover {
  cursor: pointer;
  /* Hover effect color */
  background-color: #292a30;
}

.dashboardNavigation-item-text {
  color: var(--primary-text-app);
}
