.dashboardNavigation-list {
  background-color: #151619;
}

.dashboardNavigation-item {
  transition: all 0.4s;
}
.dashboardNavigation-item:hover {
  cursor: pointer;
  /* Hover effect color */
  background-color: #292a30;
}

.dashboardNavigation-link {
  text-decoration: none;
  width: 100%;
}

.dashboardNavigation-item-text {
  color: var(--primary-text-app);
}
