
 .project-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 90em;
}

  img {
    max-width: 40%;
    max-height: 40%;
    display: block;
  }
.infos {
  /* display: none; */
}
.infos:hover {
  display: block;
}
