
 .project-container {
  width:100vw;

  height:100vh;
  flex-shrink: 0;
}

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
.infos {
  /* display: none; */
}
.infos:hover {
  display: block;
}
