.listItemImage {
  height: 5rem;
  width: 5rem;
}

.text {
  color: gray;
  /* TODO CHANGE DATE COLOR */
}

.iconButtons {
  display: flex;
  justify-self: right;
}

.deleteButton {
  width: 3rem;
  background-color: transparent;
  border: none;
  justify-self: right;
}

.editButton {
  width: 3rem;
  background-color: transparent;
  border: none;
  justify-self: right;
}