
 .container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em; */
}
.projects-cont{
  height: 100vh;
  width:99.2vw;
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
}