
.projects-cont{
  width:99vw;
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 4em;
}
@media only screen and (max-width: 600px) {
  .projects-cont{
    width:99vw;
    flex-direction: column;
    gap:10em

  }
}
